<app-top-bar></app-top-bar>
<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Operations</h3>
        </div>
      
        <ul class="list-unstyled components">
            <!-- <p>Dummy Heading</p> -->
            <li class="active">
                <a routerLink="/dashboard-home" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                   Dashboard
                </a>          
            </li>
            <li>
                <a routerLink="/sale-home" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                 Sale
                  </a>
            </li>
            <li>
                <a routerLink="/product-admin" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                 Products Administration
                  </a>
               
            </li>
            <li>
                <a routerLink="/reports-home" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  Reports</a>
            </li>
            <!-- <li>
                <a routerLink="/home" routerLinkActive="active" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                 Contact </a>
            </li> -->
        </ul>
      </nav>
      
<div id="content">
    <alert></alert>
  <router-outlet></router-outlet>
</div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->